:root {
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --primary-text-color: #333;
    --secondary-text-color: #666;
    --accent-color: #ff5733;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#randomName {
    font-size: 4em;
    color: var(--accent-color);
}

/* Card Styles */
.card {
    border: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
   
}

.card-body {
    text-align: center;
    padding: 10px;
  
}

.group-name {
    font-style: italic;
    color: var(--secondary-text-color);
}

.icon {
    margin: 10px;
    color: var(--swiper-theme-color);
}

/* Circular Image */
.circular-img {
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#user-cards a {
    text-decoration: none;
}
.avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid var(--swiper-theme-color);
}

/* Navigation */
.swiper-button-next,
.swiper-button-prev {
    font-size: 24px;
    color: var(--swiper-theme-color);
}

/* Additional Styles */
.highlight {
    background-color: var(--accent-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Add more custom styles as needed */
